.video__iframes {
    display: grid;
    grid-template-columns: repeat(2, 515px);
    grid-template-rows: repeat(1, 316px);
    width: 1050px;
    justify-content: space-between;
    padding: 0px;
    margin: auto;
    list-style-type: none;
}