.section-title {
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1;
  font-size: 60px;
  line-height: 1.15;
  width: 60%;
  margin: 0 auto 20px auto;
  font-weight: bold;
}