@keyframes link-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.3;
    }
}

.link:hover {
    animation-name: link-opacity;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}