.kaufman {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: white;
  background-color: #1F1F1F;
  padding-top: 90px;
  padding-bottom: 90px;
}