.cards__item {
  width: 240px;
  box-sizing: border-box;
  margin: 0 100px 0 0;
}

.cards__item:nth-child(3n) {
    margin-right: 0;
}
/* .cards__item:not(:first-child){
  margin-left: 100px;
} */



