.two-columns__main-text{
  flex-direction: column;
  min-width: 784px;
  width: 80%;
  /*align-items: flex-end;*/
  /*justify-content: flex-start;*/
  list-style: none;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #2f80ed;*/
}
