.animation {
  animation-name: myanimation;
  animation-duration: 20s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
}

@keyframes myanimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
