.table__cell {
  width: 250px;
}

.table__cell:nth-child(1) {
  margin-bottom: 60px;
}
.table__cell:nth-child(2) {
  margin-bottom: 60px;
}
.table__cell:nth-child(3) {
  margin-bottom: 60px;
}
.table__cell:nth-child(4) {
  margin-bottom: 60px;
}
