@import url(../kaufman/__triangle/kaufman__triangle.css);

.kaufman {
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 90px;
  }