.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /*padding-top: 60px;
  padding-bottom: 40px;*/
  /*border: 1px solid #f2f2f2;
  flex-direction: row;*/
}
