*{
  margin: 0;
  padding: 0;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-size: inherit;
  font-weight: 400;
}

/*блок научиться учиться*/
.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
  z-index: 3;
}

.header__title{
  /*display: flex;*/
  margin: auto 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle{
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
  margin: 0;
}

.header__link{
  text-decoration: none;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}


.header__main-illustration{
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/*текстовый блок*/
.discription{
  margin: 100px auto;
  width: 80%;
  position: relative;
  display: flex;
  min-height: 260px;
}

.discription__two-columns__title{
  width: 175px;
  position: absolute;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
}

.discription__two-columns{
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.discription__two-columns_paragraph{
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.discription__two-columns_paragraph:last-of-type{
  padding-bottom: 0;
}

.two-columns_paragraph_span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/*цифры и даты*/
.digits{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #2f80ed;
  padding: 100px 0;
}

.digits__section-title{
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits__section-subtitle{
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.digits__table{
  display: flex;
  width: 1100px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.digits__table_cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
/*блок с фейнманом*/
.feynman{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 890px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  padding-top: 100px;
  z-index: 1;
  margin: 0;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding-top: 70px;
  z-index: 1;
  margin: 0;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  justify-content: center;
  position: absolute;
  right: 40px;
  top: 445px;
  text-decoration: none;
}

.feynman__image{
  height: 637px;;
  width: 867px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*принципы обучения*/
.kaufman{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
  padding-top: 90px;
}

.section-title_theme_dark{
  width: 60%;
  margin-top: 90px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
  z-index: 1;
  margin: 0;
}

.section-subtitle_theme_dark{
  width: 60%;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 1;
  margin: 0;
}

.table_theme_dark{
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 90px;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.kaufman-triangle{
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

/*подвал*/
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.footer__columns{
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer{
  width: 228px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
}

.footer__column_content_info{
  display: flex;
  gap: 20px 0;
  flex-direction: column;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links{
  list-style: none;
  margin: 0;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.link-footer{
  text-decoration: none;
  color:  #c3c3c3;
  display: flex;
  align-items: center;
}

.footer__column_content_social{
  display: flex;
  gap: 20px 0;
  flex-direction: column;
}

.footer__social-icon{
  height: 16px;
  width: 16px;
  padding-right: 10px;
}
